USE [PublicacionBD]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/10/2018 8:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Publicaciones]    Script Date: 10/10/2018 8:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publicaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](200) NOT NULL,
	[FechaPublicacion] [nvarchar](max) NOT NULL,
	[MeGusta] [int] NOT NULL,
	[MeDiGusta] [int] NOT NULL,
	[VecesCompartido] [int] NOT NULL,
	[EsPrivada] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Publicaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Publicaciones] ON 

INSERT [dbo].[Publicaciones] ([Id], [Usuario], [Descripcion], [FechaPublicacion], [MeGusta], [MeDiGusta], [VecesCompartido], [EsPrivada]) VALUES (1, N'earroyave', N'Finca el solar', N'2018-10-10', 1, 0, 100, 1)
INSERT [dbo].[Publicaciones] ([Id], [Usuario], [Descripcion], [FechaPublicacion], [MeGusta], [MeDiGusta], [VecesCompartido], [EsPrivada]) VALUES (2, N'mmonsalve', N'Bellavista', N'2018-09-10', 1, 0, 100, 1)
INSERT [dbo].[Publicaciones] ([Id], [Usuario], [Descripcion], [FechaPublicacion], [MeGusta], [MeDiGusta], [VecesCompartido], [EsPrivada]) VALUES (3, N'bvgggg', N'La mansion', N'2017-10-10', 0, 1, 200, 1)
SET IDENTITY_INSERT [dbo].[Publicaciones] OFF
